{% extends "blog/base.html"%}


{%block content %}
	
	<div class="blog-main-page">
		<div class="blog-card col-lg-12 ">
			<h1 class=" card-title text-center ">Publish Your Thoughts</h1>
			<p class="card-sub-title">"We value your thoughts and grateful for sharing with us"</p>
		</div>
		<div class="media container">
			
		
			<div class="row w-100 ">
				
				
				{% if blogs %}
				{% for blog in blogs %}
		
				<div class="col-md-11">
					<article class="media content-section ">
						<div class="content">
							<div class="blog-list-article-metadata mt-2 d-flex">
								<img src="{{ blog.author.profile.image.url }}" class=" rounded-circle blog-article-img" alt="">
								<a class="blog-list-author text-decoration-none h4 col-md-8" href="#">{{ blog.author|title }}</a>
							</div>
							<h2><a class="blog-article-title text-dark " href="{{blog.get_absolute_url }}">{{blog.title|title }}</a></h2>
							<h5 class="blog-article-subtitle">{{blog.sub_title}}</h5>
							<small class="text-muted ">{{ blog.datePosted|date:"F d, Y" }}</small>
	
						</div>
					</article>
				</div>
				
				{% endfor %}
				
			</div>
			<div class="col-md-4 ">
				<h1 class="trending-title text-center pt-2">Trending Articles</h1>
				{% for blog in blogs %}
				<div class="trending-articles d-flex  p-1">
					<div class="numbering">
						<span class="counter-span">{{forloop.counter}}</span>
					</div>
					<div class="trending-content">
						<div class="blog-list-article-metadata mt-2 d-flex pb-2">
							<img src="{{ blog.author.profile.image.url }}" class=" rounded-circle blog-article-img" alt="">
							<a class="blog-list-author text-decoration-none h4 col-md-8" href="#">{{ blog.author|title }}</a>
						</div>
						<a href="{{blog.get_absolute_url }}" class="text-decoration-none text-dark font-weight-bold ">{{blog.title}}</a><br>
						<small>{{ blog.datePosted|date:"F d" }}</small>

					</div>

				</div>

					
				{% endfor %}
			</div>
			{%else %}
			<div class=" text-right">
				<h5><i>There are not any blogs right now.</i></h5>
			</div>
			{%endif%}
			
		
		
		</div>
		<div class="paginator mt-5 text-center">
			{% if is_paginated %}
			{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
			{% endif %}
		
			{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a class="btn btn-outline-info mb-4"
				href="?page={{ num }}">{{ num }}</a>
		
				{% endif %}
		
				{% endfor %}
				{% if page_obj.has_next %}
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
				<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
				{% endif %}
				{% endif %}
		</div>
	</div>
	
		
{% endblock content %}