{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
	<div class="media">
		<div class="row d-flex">
			<div class="col-md-10">
				<article class="media content-section w-100">
					<div class="media-body ">
						<div class="article-metadata d-flex justify-content-between">
							<div class="title-box">
								<h2 class="article-title">{{ object.title }}</h2>
								<small class="m-2 text-muted">{{ object.datePosted|date:"F d, Y" }}</small>

							</div>
							

							{% if object.author == user %}
							<div class="options">
								<button class="btn btn-primary btn-sm mt-1 mb-1" onclick="{{ object.likes }}">Like {{ object.likes }}</button>
								<a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
								<a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

							</div>
							{% else %}
							<div class="option">
								<button class="btn btn-primary btn-sm mt-1 mb-1" onclick="{{ object.likes }}">Like {{ object.likes }}</button>
							</div>
								
								
							{% endif %}
						</div>
						<p class="article-content mt-3"> {{ object.content }}</p>
						<hr class="mt-5">

						<div class="content-media d-flex ">
							
							<img src="{{ object.author.profile.image.url}}" class = "w-10 h-10 article-img" alt="profile-pic" >
							<div class="detail-name">
								<a class="mr-2 text-decoration-none h3 text-dark" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
								<p class="text-secondary">{{ object.author.email }}</p>
								<div class="link-container w-10 ">	
									{% if object.author.profile.InstaLink %}
										<a href= "{{ object.author.profile.InstaLink }} " class="fa fa-instagram text-decoration-none p-1 "></a>
									{% elif object.author.profile.TwitterLink %}
										<a href="{{ object.author.profile.TwitterLink }}" class="fa fa-twitter text-decoration-none p-1"></a>
									{% elif object.author.profile.GithubLink %}
										<a href="{{ object.author.profile.GithubLink }}" class="fa fa-github text-decoration-none p-1"></a>
									{% elif object.author.profile.facebookLink %}
										<a href="{{ object.author.profile.facebookLink }} " class="fa fa-facebook text-decoration-none p-1"></a>
									{% endif %}
						
								</div>
								


							</div>
							
						</div>
					</div>	
				</article>
			</div>
			
		</div>
		
		<div class="col-md-10 card mb-4  mt-3 ">

			<div class="card-body">
				<h5 >Comments</h5>

				{% for comment in post.comments.all %}
				<div class="comment " style="padding: 10px;">
					<p class="font-weight-bold justify-content-between">
						<strong>{{ comment.name }}</strong>
						<span class=" text-muted font-weight-normal">
						{{ comment.created }}
						</span>
					</p>
					<div class="card p-1">{{ comment.body | linebreaks }}</div>
				</div>
				{% empty %}
				<p>There are no comments this post.</p>
				{% endfor %}
				{% if new_comment %}
					<div class="alert alert-success" role="alert">
						Your comment is awaiting moderation
				</div>
				{% endif %}
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group ">
						<legend class="border-bottom mb-4">Leave Comment</legend>
						{{ form.as_p}}
					</fieldset>
					<div class="form-group">
						<a class="btn btn-outline-info"  href="{% url 'post-detail-comment' object.id %}">
							Comment
						</a>
					</div>
		
			</form>
			  
		  </div>
		  
		</div>
	  </div>
	  <div class="col-md-4">
		<div class="content-section">
			<h3 class="text-center">TRENDING POST</h3>
			<hr>
			<a href="{% url 'post-detail' post.id %}" class="text-decoration-none"><div class="card mt-1 p-1">
				<h5 class="text-decoration-underline">{{object.title}}</h5>
				<p class="text-dark">{{ object.content|truncatewords:30}}</p>
			</div>
			</a>

		</div>
	</div>
{% endblock content %}